.sidebar {
  position: fixed;
  top: 0;
  left: -317px; /* скрыт за экраном */
  width: 317px;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #1d21261a;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.background {
  position: fixed;
  inset: 0;
  background-color: #1d21261a;
  z-index: 50;
}

.nav {
  display: flex;
  flex-direction: column;

  margin-top: 60px; /* отступ от верха сайдбара */
  margin-left: 70px; /* отступ от левого края сайдбара */

  gap: 75px; /* расстояние между ссылками */
}

.nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #000000; /* Чёрный цвет */
  text-decoration: none;
}

.nav a:hover {
  color: #0059b2; /* цвет при наведении */
}

.nav a.active {
  color: #0059b2; /* цвет при наведении */
  text-decoration: underline; /* подчёркивание снизу */
}

/* кнопка закрытия */
.close {
  position: absolute;
  top: 16px;
  left: 269px;

  width: 24px;
  height: 24px;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.close img {
  width: 100%;
  height: 100%;
}
