.radio {
  width: 20px;
  height: 20px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  appearance: none; /* убираем стандартный круг */
  -webkit-appearance: none; /* для Safari */
  border: 2px solid black; /* рамка кружка */
  border-radius: 50%; /* круг */
  position: relative; /* чтобы ::before позиционировался внутри */
  cursor: pointer;
}

.radio::before {
  content: '';
  position: absolute; /* позиционируем внутри input */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* центрируем */
  width: 10px; /* размер внутреннего кружка (точки) */
  height: 10px;
  border-radius: 50%;
  background-color: transparent; /* по умолчанию пустой */
}

.radio:checked::before {
  background-color: black;
}

.label {
  display: flex;
  gap: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
