.item {
  width: 606px;
  height: 48px;
  vertical-align: middle;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: end;
  margin: 18px 0;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.thead {
  width: 606px; /* ширина таблицы */
  height: 36px; /* высота шапки */
  background-color: #e5e5e5; /* цвет фона */
}

.nameCol {
  padding: 11px 17px 9px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.ageCol {
  padding: 11px 0 9px;
  color: black;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

tr:last-of-type .nameCol,
tr:last-of-type .ageCol {
  border-bottom: none;
}
