.App {
  --header_height: 60px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

.hw {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 50px 0;
}

.hwTitle {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
